// Neon gradient link styling for PrettyLinks.scss
// Copyright 2025 Rye (itsrye.dev)
@mixin PrettyLink {
    background: linear-gradient(90deg, #ff6aff, #00ffc2);
    /* neon gradient */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: none;
    transition: 0.3s ease;

    &:hover {
        animation: gradientShift 2s linear infinite;
    }
}