// refactored to scss by Rye
// copyright remains with Raising Pixels (original author) and under original license

@import 'keyframes/float';

/* Floating Particles */
.particle {
    position: fixed;
    pointer-events: none;
    z-index: 2;
    opacity: 0.6;
    animation: float linear infinite;
}