<!-- includes beginning -->

<!-- styling -->
{{ partial "head/styling/ryeStyling.html" . }}
{{ partial "head/styling/refactoredStyling.html" . }}

<!-- Meta Description -->
{{ partial "head/meta/description.html" . }}

<!-- Fediverse Creator -->
{{ partial "head/meta/fediverse.html" . }}

<!-- Open Graph -->
{{ partial "head/meta/opengraph.html" . }}

<!-- icon -->
{{ partial "head/icon.html" . }}

<!-- Twitter Card -->
{{ partial "head/meta/twitter.html" . }}

<!-- Schema -->
{{ partial "head/meta/schema.html" . }}

<!-- FontAwesome -->
{{ partial "head/fonts/fontAwesome.html" . }}

<!-- fonts -->
{{ partial "head/fonts/bunnyFonts.html" . }}
{{ partial "head/fonts/googleFonts.html" . }}

<!-- Miscellaneous -->
{{ partial "head/misc/cannonical-link.html" . }}

<!-- includes end -->