<!-- includes beginning -->

<!-- Meta Description -->
{{ partial "head/meta/description.html" . }}

<!-- Fediverse Creator -->
{{ partial "head/meta/fediverse.html" . }}

<!-- Open Graph -->
{{ partial "head/meta/opengraph.html" . }}

<!-- Twitter Card -->
{{ partial "head/meta/twitter.html" . }}

<!-- Schema -->
{{ partial "head/meta/schema.html" . }}

<!-- FontAwesome -->
{{ partial "head/fonts/fontAwesome.html" . }}

<!-- fonts -->
{{ partial "head/fonts/bunnyFonts.html" . }}
{{ partial "head/fonts/googleFonts.html" . }}

<!-- includes end -->