// refactored Version

@import '../../foundation/mixins/smallDisplaysAdjustment';
@import '../../foundation/mixins/largeDisplaysAdjustment';

.ambient-label {
    $minWidth: 120px;
    min-width: $minWidth;
    justify-self: center;
    @include labelSmallDisplayAdjustment($minWidth, 0.85rem, false);
    @include labelLargeDisplayAdjustment($minWidth, 0.85rem);
    color: var(--text-secondary);
    font-weight: 500;
}