<!-- Logo -->
<a href="{{ "/" | absLangURL }}" class="rye-logo" title="{{ .Site.Params.Author.name }}">
    <picture>
        {{ with resources.GetMatch .Site.Params.Author.image }}
        {{ $webpimg :=  .Resize "50x50 webp" }}
        {{ with resources.Copy "images/converted/logo.webp" . }}
        <source srcset="{{ .RelPermalink  }}" type="image/webp" />
        {{ end }}
        <img src="{{ .RelPermalink }}" alt="Logo" height="50"
            width="50" />
        {{ end }}
    </picture>
</a>
