// Copyright 2026 Rye

@import '../../foundation/mixins/screenAdjustments';

@scope(.rye-flag-shortcode){
    :scope{
        display: inline-flex;
    }
    .flag-image{
        height: inherit;
        width: 15px;
        display: inline;
        @include displayHeightAdjustment(15pt);
        @include displayWidthAdjustment(15px);
    }
}