// Copyright 2026 Rye (itsrye.dev)

$heightBar: 8px;

@import '../../foundation/keyframes/shake';

.rye-rainbow-bar{
    padding-top: $heightBar*2;
    padding-bottom: $heightBar*1.5;
    width: 100%;
    height: $heightBar;
    .rainbow-row{
        height: $heightBar/8;
        width: 100%;
    }
    .rainbow-red{
        background-color: red;
    }
    .rainbow-orange{
        background-color: orange;
    }
    .rainbow-yellow{
        background-color: yellow;
    }
    .rainbow-green{
        background-color: green;
    }
    .rainbow-blue{
        background-color: blue;
    }
    .rainbow-indigo{
        background-color: indigo;
    }
    .rainbow-violet{
        background-color: violet;
    }

    &:hover{
       @include shake-rotation(); 
    }
}