// Logo Styling
// Copyright 2025 Rye (itsrye.dev)

@import '../../foundation/mixins/screenAdjustments';
@import '../../foundation/keyframes/heartbeat';

.rye-logo {
    $width: 25px;
    $height: 25px;
    position: relative;
    width: $width;
    height: $height;
    border-radius: 50%;
    overflow: hidden;
    display: inline;
    flex-grow: unset;

    img {
        width: $width - 3px;
        height: $height - 3px;
        border-radius: 50%;
        overflow: hidden;
        display: inline-block;
        @media (max-width: 768px) {
            width: 20px;
            height: 20px;
        }
        @media (prefers-contrast: more) {
            filter: contrast(200%);
        }
        @media (monochrome) {
            filter: grayscale(100%);
        }
        @media (prefers-reduced-transparency) {
            filter: none;
        }
        @media(prefers-color-scheme: dark) {
            filter: brightness(80%) contrast(150%) grayscale(75%);
        }
    }

    &:hover{
        @include heartbeat();
    }
}